form .input-box-reg {
  margin-bottom: 15px;
  width: auto;
  display: inline-flex;
  flex-flow: column;
  padding-left: 50px;
  margin-left: 20px;
}

.user-details-reg .input-box-reg input {
  width: 480px;
}

.user-details-reg .input-box-reg select {
  width: 480px;
}

.user-details-reg .input-box-reg select:focus,
.user-details-reg .input-box-reg select:valid {
  border-color: #265df2;
}

.head-don-rel {
  background-color: #0099cc;
}

form .button-reg input {
  background: #00c851;
}

form .button-reg input:hover {
  background: #007e33;
}

@media screen and (max-width: 520px) {
  form .input-box-reg {
    width: auto;
    display: flex;
    padding-left: 0px;
  }

  .user-details-reg .input-box-reg input {
    width: 480px;
  }

  .user-details-reg .input-box-reg select {
    width: 480px;
  }

  form .button-reg input {
    height: 80%;
    width: 30vh;
    font-size: 17px;
  }
}

@media screen and (max-width: 640px) {
  form .input-box-reg {
    width: auto;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
  }

  .user-details-reg .input-box-reg input {
    width: 440px;
  }

  .user-details-reg .input-box-reg select {
    width: 440px;
  }
}

@media screen and (max-width: 850px) {
  form .input-box-reg {
    width: auto;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
  }

  .user-details-reg .input-box-reg input {
    width: 340px;
  }

  .user-details-reg .input-box-reg select {
    width: 340px;
  }
}

@media screen and (max-width: 1184px) {
  form .input-box-reg {
    width: auto;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
  }
}

#icon {
  /* here icon is only for dark mode and if it is displayed title is not aligned center */
  display: none;
}

.alert {
  --bs-alert-bg: transparent;
  --bs-alert-padding-x: 1rem;
  --bs-alert-padding-y: 1rem;
  --bs-alert-margin-bottom: 1rem;
  --bs-alert-color: inherit;
  --bs-alert-border-color: transparent;
  --bs-alert-border: 1px solid var(--bs-alert-border-color);
  --bs-alert-border-radius: 0.375rem;
  position: relative;
  padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
  margin-bottom: var(--bs-alert-margin-bottom);
  color: var(--bs-alert-color);
  background-color: var(--bs-alert-bg);
  border: var(--bs-alert-border);
  border-radius: var(--bs-alert-border-radius, 0);
}

.alert-danger {
  --bs-alert-color: #842029;
  --bs-alert-bg: #f8d7da;
  --bs-alert-border-color: #f5c2c7;
}

.alert {
  position: relative;
  height: 35px;
  display: none;
  top: 15px;
  margin-bottom: 15px;
  padding: 0.2rem 1rem;
  width: auto;
  align-items: center;
}
