:root {
  --container-body-bg: whitesmoke;
  --input-field-bg: white;
  --bg-text-color: black;
  --input-text-color: white;
  --hover-reurnbtn:rgb(222, 239, 248);
}

.dark-theme {
  transition: all 0.3s;
  --container-body-bg: rgb(35, 36, 53);
  --input-field-bg: #201f2c;
  --bg-text-color: white;
  --input-text-color: black;
  --hover-reurnbtn:#4285F4;
}

body {
  background: var(--container-body-bg);
  color: var(--bg-text-color);
}

.form-gap {
  padding-top: 70px;
}

.alert {
  height: 30px;
  display: none;
  margin-bottom: 10px;
  padding: 0.2rem 1rem;
}

.container {
  width: 500px;
  padding: 0;
  background-color: var(--input-field-bg);
}
.form-container {
  padding: 5px;
  width: fit-content;
  margin: 20px;
}

.return_link{
  width: 80px;
  color: var(--bg-text-color);
}


.return_div:hover{
  background-color: var(--hover-reurnbtn);
  color: black;
}

.return_link:hover{
  width: 80px;
  color: var(--bg-text-color);
  text-decoration: none;
  background-color: var(--hover-reurnbtn);
}

.return_div{
  background-color: var(--input-field-bg);
  width: 100px;
  margin-left: 15px;
  margin-top: 15px;
  padding: 6px;
  padding-left: 9px;
  font-weight: bold;
  border-radius: 4px;
}
@media (max-width: 560px) {
.container{
  width: 410px;
}

.form-container {
  padding: 5px;
  width:fit-content;
  margin: 10px;
}

}
