:root {
  --body-bg: white;
  --nav-bg: whitesmoke;
  --btn-text-color: white;
  --nav-text-color: black;
  --nav-box-shadow: rgba(163, 155, 163, 1);
  --continue-btn-bg: #262626;
  --continue-btn-color: #fbfbfb;
}

.dark-theme {
  transition: all 0.3s;
  --body-bg: #292a40;
  --nav-bg: rgb(35, 36, 53);
  --btn-text-color: black;
  --nav-text-color: white;
  --nav-box-shadow: rgb(35, 29, 43);
  --continue-btn-bg: #0f35a0;
  --continue-btn-color: #fbfbfb;
}

body {
  background-color: var(--body-bg);
}

nav {
  background-color: var(--nav-bg);
  display: flex;
  height: 70px;
  color: var(--nav-text-color);
  justify-content: space-between;
  box-shadow: 0px 7px 80px -18px var(--nav-box-shadow);
}

.dashboard-title {
  text-decoration: none;
  padding: 25px;
  font-size: 22px;
  font-weight: 620;
  color: var(--nav-text-color);
}

.admin_name {
  display: flex;
  margin-right: 15px;
}

.name {
  font-size: 16px;
  padding-top: 30px;
}

.dark-btn {
  margin-right: 30px;
  padding-top: 27px;
  font-size: 22px;
  cursor: pointer;
}

.logout_btn {
  background-color: var(--nav-text-color);
  color: var(--btn-text-color);
  font-weight: bolder;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 0px;
  border-radius: 25px;
}

.count-num {
  font-size: 40px;
  margin-bottom: 0;
  padding-top: 0;
}

.count-text {
  font-weight: bold;
}

.cardInfo {
  background-color: var(--nav-bg);
  color: var(--nav-text-color);
  padding: 0px;
  box-shadow: 0px 7px 80px -18px var(--nav-box-shadow);
  border: none;
}
#respon-head,
#respon-body {
  display: none;
}
.respon-td-title {
  display: none;
}
.butn-don-rel1 {
  width: auto;
}
.page-title {
  color: var(--nav-text-color);
}

.continue-btn {
  font-weight: 600;
  background-color: var(--continue-btn-bg);
  color: var(--continue-btn-color);
}

.continue-btn:hover {
  font-weight: 600;
  background-color: #2857d8;
  color: var(--continue-btn-color);
}
.nav-tabs .nav-link {
  background:0 0;
  color: var(--nav-text-color);
}
.nav-tabs .nav-link.active {
  color: var(--nav-text-color);
  background-color: var(--nav-bg);
}

.count-num {
  font-size: 38px;
  margin-bottom: 0;
  padding-top: 0;
}

.count-text {
  font-size: 14px;
  font-weight: bold;
  margin: auto;
}

.count-card-body{
  padding: 6;
}
@media screen and (max-width: 580px) {
  .table thead {
    display: none;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }
  tbody tr {
    margin-bottom: 50px;
  }
  .table td {
    display: flex;
    text-align: right;
    padding-left: 0%;
    text-align: center;
    position: relative;
    justify-content: space-between;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
  #respon-head,
  #respon-body {
    display: inline-block;
  }
  .respon-td-title {
    display: block;
    text-align: left;
    margin-left: 10px;
    font-weight: bolder;
  }
  .butn-don-rel1 {
    width: auto;
  }
  .dashboard-title {
    padding-left: 22px;
    font-size: 16px;
    padding-top: 25px;
  }
  .name {
    font-size: 14px;
    padding-top: 28px;
  }
  .logout_btn {
    font-size: 13px;
    font-weight: 700;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 0px;
    border-radius: 25px;
  }

  .count-num {
    font-size: 28px;
    margin-bottom: 0;
    padding-top: 0;
  }
  
  .count-text {
    font-size: 14px;
    font-weight: bold;
  }
  .count-card-body{
    padding: 6;
  }
}
